body{
	background:  #81DAF5 url('imagens/pontoazul.jpg');
    font: 18px Arial, helvetica, sans-serif;
    }

     #principal {
        width: 1000x;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #menu{
        background:#D8D8D8;
        padding: 18px;
        width: 1849px;
        height: 150;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        text-align: center;
    }

   #conteudo{
    background: #FFFFFF;
    padding: 20px;
    width: 1845px;
    height: auto;
    text-align: center;
    font-size: 30px;
}
    a{
        color: red;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
    }

    .centralizar{
        text-align: center;
        width: 1000x;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        color: #828271;
        font-size:1.2em;
    }

    #rodape{
        border: 5px solid white;
        background: rgb(2, 134, 243);
        text-align: center;
        font-size: 30px;
        width: 1880px;
        margin-left: auto;
        margin-right: auto;
    }

    .tamimg{
        border: 7px solid rgb(0, 255, 191);
        height: 450px;
        width: 450px;
    }

    .fdbras{
    width: 1885px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

    .centralizar1{
        text-align: center;
    }