body{
	background:  #81DAF5 url('imagens/pontoazul.jpg');
    font: 18px Arial, helvetica, sans-serif;
    }

     #principal {
        position: 100%;
        width: 100%;
        height: 1000px;
    }

    #menu{
        background:#D8D8D8;
        padding: 18px;
    }

   #conteudo{
    background: #FFFFFF;
    padding: 20px;
   }
    a{
        color: red;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
    }

    .centralizar{
        text-align: center;
    }

    h1{
        color: #828271;
        font-size:1.2em;
    }

    #rodape{
        border: 2px solid white;
        background: rgb(2, 134, 243);
        text-align: center;
    }

    .tamimg{
        border: 7px solid rgb(0, 255, 191);
        width: 300px;
        height: 300px;
        margin: 5px;
        
    }

    .fdbras{
    width: 1885px;
    height: 300px;
    }